
*.sqlite
*.cache
*.editorconfig
Casino Simulator/Casino Simulator/obj/Debug/net5.0-windows/Casino Simulator_MarkupCompile.i.cache
Casino Simulator/.vs/Casino Simulator/v16/.suo
.vs/slnx.sqlite
.vs/slnx.sqlite
.vs/slnx.sqlite
Casino Simulator/.vs/Casino Simulator/v16/.suo
Casino Simulator/Casino Simulator/bin/Debug/net5.0-windows/Casino Simulator.dll
Casino Simulator/Casino Simulator/bin/Debug/net5.0-windows/Casino Simulator.pdb
Casino Simulator/Casino Simulator/bin/Debug/net5.0-windows/Casino Simulator.runtimeconfig.dev.json
Casino Simulator/Casino Simulator/obj/Casino Simulator.csproj.nuget.dgspec.json
Casino Simulator/Casino Simulator/obj/Casino Simulator.csproj.nuget.g.props
Casino Simulator/Casino Simulator/obj/Debug/net5.0-windows/App.g.i.cs
Casino Simulator/Casino Simulator/obj/Debug/net5.0-windows/Casino Simulator.assets.cache
Casino Simulator/Casino Simulator/obj/Debug/net5.0-windows/Casino Simulator.csproj.CoreCompileInputs.cache
Casino Simulator/Casino Simulator/obj/Debug/net5.0-windows/Casino Simulator.csproj.FileListAbsolute.txt
Casino Simulator/Casino Simulator/obj/Debug/net5.0-windows/Casino Simulator.designer.runtimeconfig.json
Casino Simulator/Casino Simulator/obj/Debug/net5.0-windows/Casino Simulator.dll
Casino Simulator/Casino Simulator/obj/Debug/net5.0-windows/Casino Simulator.GeneratedMSBuildEditorConfig.editorconfig
Casino Simulator/Casino Simulator/obj/Debug/net5.0-windows/Casino Simulator.genruntimeconfig.cache
Casino Simulator/Casino Simulator/obj/Debug/net5.0-windows/Casino Simulator.pdb
Casino Simulator/Casino Simulator/obj/Debug/net5.0-windows/Casino Simulator_MarkupCompile.cache
Casino Simulator/Casino Simulator/obj/Debug/net5.0-windows/Casino Simulator_MarkupCompile.i.cache
Casino Simulator/Casino Simulator/obj/project.assets.json
Casino Simulator/Casino Simulator/obj/project.nuget.cache
